---
layout: default
title: Distribytes
---

<div id="home">
  <h1>Newest</h1>
  <p>Most recent blog posts.</p>
  <ul class="new posts">
    {% for post in site.posts limit:5 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>Distributed Systems</h1>
  <p>I am passionate about Distributed systems; this is my learnings about the field.</p>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.group == "distributed-systems" %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>Programming : Functional or not..</h1>
  <p>While I am not too dogmatic about functional programming; I have been using it professionally for over 2 years. I understsand the benefits and I understand the shortcomings as well; a lot of what I experienced building huge systems with OOP languages such as C# doesn't need to be thrown away.</p>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.group == "functional-programming" %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>Reading Lists</h1>
  <p>Reading lists on distributed systems, cloud computing and anything interesting.</p>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.group == "readings" %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1>General</h1>
  <p>general blog posts...</p>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.group == nil %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

